<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Include the CesiumJS JavaScript and CSS files -->
  <script src="https://cesium.com/downloads/cesiumjs/releases/1.76/Build/Cesium/Cesium.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.76/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <style type="text/css">
      html,
      body {
        margin: 0px;
        height: 100%;
        overflow: hidden;
      }

      #cesiumContainer {
        height: calc(100%);
      }
  </style>
</head>
<body>
  <div id="cesiumContainer"></div>
  <script>
    // Your access token can be found at: https://cesium.com/ion/tokens.
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI5YTdlYWJkMC1kMmE1LTRiY2UtYTRhYy0wNWRmNGJmMGE0MTIiLCJpZCI6Mzk1MjEsImlhdCI6MTYwNzYwODYzMX0.QiNnF11wAMGQ-jbdbVDHWxDGfnHFV8u8t4VpwK98J6M';
    // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
    var extent = Cesium.Rectangle.fromDegrees(-23.168235,27.079881,53.131185,80.754928);

    Cesium.Camera.DEFAULT_VIEW_RECTANGLE = extent;
    Cesium.Camera.DEFAULT_VIEW_FACTOR = 0;

    // Container settings
    var viewer = new Cesium.Viewer('cesiumContainer', {
    	baseLayerPicker : false,
      animation : false,
      timeline : false,
      sceneModePicker: true,
      navigationHelpButton: false,
      fullscreenButton: false,
      navigationInstructionsInitiallyVisible: false,
      mapProjection : new Cesium.WebMercatorProjection,
      imageryProvider : new Cesium.OpenStreetMapImageryProvider({
        url : 'https://maps.trailguide.net/trailguidesummer/'
    }),
      terrainExaggeration: 1,
      terrainProvider: Cesium.createWorldTerrain()
    });

    // kill the timeline and clock
    viewer.scene.frameState.creditDisplay.destroy();

    // hide geometries behind terrain
    viewer.scene.globe.depthTestAgainstTerrain = true;

    // Add Trailguide logo
    viewer.entities.add({
      position: Cesium.Cartesian3.fromDegrees(8.845, 60.685, 600),
      billboard: {
        image: "https://res.cloudinary.com/trailguide-as/image/upload/v1607637200/logo/trailguidewhite.png",
        scaleByDistance: new Cesium.NearFarScalar(0, 0.1, 1.5e5, 0.01),
        distanceDisplayCondition: new Cesium.DistanceDisplayCondition(0, 1.5e5),
      },
    });

    // Query the terrain height of two Cartographic positions
    var terrainProvider = Cesium.createWorldTerrain();
    var position = Cesium.Cartographic.fromDegrees(6.865, 45.8325);
    var promise = Cesium.sampleTerrainMostDetailed(terrainProvider, position);
    Cesium.when(promise, function(updatedposition) {});
    // function is missing!

    // Add text label
    viewer.entities.add({
      position: Cesium.Cartesian3.fromRadians(position.longitude, position.latitude, position.height + 5000),
      label: {
        text: "Mont Blanc\n4809m",
        font: "24px Arial",
        fillColor: Cesium.Color.fromBytes(255,255,255,200),
        outlineColor: Cesium.Color.BLACK,
        outlineWidth: 2,
        style: Cesium.LabelStyle.FILL_AND_OUTLINE,
        scaleByDistance: new Cesium.NearFarScalar(0, 1, 1.5e5, 0.1),
        distanceDisplayCondition: new Cesium.DistanceDisplayCondition(0, 1.3e5),
      },
    });

  </script>
 </div>
</body>
</html>
