<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <!-- Include the CesiumJS JavaScript and CSS files -->
  <script src="https://cesium.com/downloads/cesiumjs/releases/1.76/Build/Cesium/Cesium.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.76/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.76/Build/Cesium/Widgets/BaseLayerPicker/BaseLayerPicker.css" rel="stylesheet">

  <link href="https://cesium.com/downloads/cesiumjs/releases/1.76/Build/Cesium/Widgets/BaseLayerPicker/BaseLayerPicker.css" rel="stylesheet">
  <style type="text/css">
      html,
      body {
        margin: 0px;
        height: 100%;
        overflow: hidden;
      }

      #cesiumContainer {
        height: calc(100%);
      }

      .toolbar-left {
          display: block;
          position: absolute;
          bottom: 5px;
          left: 5px;
      }

      .button {
        background-color: rgba(50,50,50,0.8);
        border: 2px rgba(255,255,255,1);
        border-radius: 8px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      .button:hover {
        background-color: rgba(80,151,191,0.8);
      }

      .button:active {
        transform: translateY(2px);
      }

      #height {
        display: block;
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: white;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
      }

      #toolbar {
        display: block;
        position: absolute;
        bottom: 50px;
        left: 5px;
        color: white;
      }

  </style>
</head>
<body>

  <div id="cesiumContainer"></div>
  <div class="toolbar-left">
    <button class="button" onclick="getLocation()">Pos</button>
    <button class="button" onclick="alignView()">View</button>
  </div>
  <div id="baseLayerPickerContainer" style="position:absolute;top:24px;right:24px;width:38px;height:38px;"></div>
  <div id="height"></div>
  <div id="toolbar"></div>

  <script>
    // Your access token can be found at: https://cesium.com/ion/tokens.
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI5YTdlYWJkMC1kMmE1LTRiY2UtYTRhYy0wNWRmNGJmMGE0MTIiLCJpZCI6Mzk1MjEsImlhdCI6MTYwNzYwODYzMX0.QiNnF11wAMGQ-jbdbVDHWxDGfnHFV8u8t4VpwK98J6M';

    // Set the home view
    var extent = Cesium.Rectangle.fromDegrees(-23.168235,27.079881,53.131185,80.754928);

    Cesium.Camera.DEFAULT_VIEW_RECTANGLE = extent;
    Cesium.Camera.DEFAULT_VIEW_FACTOR = 0;

    // Create the available maps
    var imageryViewModels = [];
    imageryViewModels.push(new Cesium.ProviderViewModel({
         name : 'Trailguide',
         iconUrl : "https://res.cloudinary.com/dztnnl8x9/image/upload/v1607908467/mapthumbnail_trailguide_jxwzsb.png",
         tooltip : 'Trailguide topo map for summer sports',
         creationFunction : function() {
             return new Cesium.OpenStreetMapImageryProvider({
                 url : 'https://maps.trailguide.net/trailguidesummer/',
                 minimumLevel: 0,
                 maximumlevel: 18
             });
         }
     }));

     imageryViewModels.push(new Cesium.ProviderViewModel({
         name : 'Satellite',
         iconUrl : "https://res.cloudinary.com/dztnnl8x9/image/upload/v1607908467/mapthumbnail_satellite_a3fuzf.png",
         tooltip : 'Satellite pictures',
         creationFunction : function() {
             return new Cesium.IonImageryProvider({ assetId: 2, contrast: 2 });
         }
     }));

     // Initialize the cesium container
     var viewer = new Cesium.Viewer('cesiumContainer', {
       imageryProviderViewModels : imageryViewModels,
       baseLayerPicker : true,
       animation : false,
       timeline : false,
       sceneModePicker: true,
       navigationHelpButton: false,
       fullscreenButton: false,
       navigationInstructionsInitiallyVisible: false,
       mapProjection : new Cesium.WebMercatorProjection(),
       useBrowserRecommendedResolution: true, // false decreases performance noticable but resolution is better
       terrainExaggeration: 1,
       terrainProvider: Cesium.createWorldTerrain()
     });

     // Slope layer and handling
     var layers = viewer.scene.imageryLayers;
     var slope = layers.addImageryProvider(
       new Cesium.OpenStreetMapImageryProvider({url : 'https://maps.trailguide.net/slope/'})
     );

     slope.show = false;

     // Add a checkbox.
     document.getElementById('toolbar').innerHTML = '<label><input type="checkbox" id="showCheckbox" /> Slope</label>';

     var checkbox = document.getElementById('showCheckbox');
     checkbox.addEventListener('change', function() {
         // Checkbox state changed.
         if (checkbox.checked) {
           slope.show = true;
         } else {
           slope.show = false;
         }
     }, false);

    // // Handle camera rotation when zooming and camera points straight down
    //  var camera = viewer.scene.camera;
    //
    //  // Read current Heading when camera starts moving
    //  var currentHeading;
    //  viewer.camera.moveStart.addEventListener(heading);
    //  function heading() {
    //       currentHeading = viewer.camera.heading;
    //       //window.alert(currentHeading)
    //  }
    //
    //  viewer.scene.preRender.addEventListener(limitHeading);
    //
    //  function limitHeading() {
    //  	var currentPitch = viewer.camera.pitch;
    //    if (currentPitch > -1.59 && currentPitch < -1.55) {
    //      	camera.setView({
    //          orientation: {
    //              heading: currentHeading,
    //              pitch: camera.pitch,
    //              roll: camera.roll
    //          }
    //        });
    //    } else {
    //      	camera.setView({
    //          orientation: {
    //              heading: camera.heading,
    //              pitch: camera.pitch,
    //              roll: camera.roll
    //          }
    //        });
    //        currentHeading = camera.heading;
    //    }
    //  }

    // kill the timeline and clock
    viewer.scene.frameState.creditDisplay.destroy();

    // hide geometries behind terrain
    viewer.scene.globe.depthTestAgainstTerrain = true;

    // load higher resolution tiles. Default = 2
    viewer.scene.globe.maximumScreenSpaceError = 1.5;

  </script>

  <!-- Show location -->
  <script>
  var icon;
  var icontest = false;

  function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, zeigeFehler, {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 5000
        });
    } else { window.alert("Can't get location"); }
  }

  function zeigeFehler(error) {
      switch(error.code) {
          case error.PERMISSION_DENIED:
              window.alert("No permission for location");
              break;
          case error.POSITION_UNAVAILABLE:
              window.alert("No location data available");
              break;
          case error.TIMEOUT:
              window.alert("Time-out");
              break;
          case error.UNKNOWN_ERROR:
              window.alert("Unknown error");
              break;
      }
  }

  function showPosition(position) {
    //window.alert(icontest);
    if (icontest) {
      icon.position = Cesium.Cartesian3.fromDegrees(position.coords.longitude, position.coords.latitude);
      icon.name = "Ele " + position.coords.altitude + ", \nLat " + position.coords.latitude.toFixed(5) + ", \nLon " + position.coords.longitude.toFixed(5);
      //window.alert("Location updated");
    } else {

      //window.alert("Latitude: " + position.coords.latitude +
      //"\nLongitude: " + position.coords.longitude);

      // Add location icon
      icon = viewer.entities.add({
        name: "Ele " + position.coords.altitude + ", \nLat " + position.coords.latitude.toFixed(5) +
        ", \nLon " + position.coords.longitude.toFixed(5),
        position: Cesium.Cartesian3.fromDegrees(position.coords.longitude, position.coords.latitude),
        billboard: {
          image: "https://res.cloudinary.com/dztnnl8x9/image/upload/v1607955354/position_kxc2vq.png",
          color : new Cesium.Color(1.0, 1.0, 1.0, 0.8),
          scaleByDistance: new Cesium.NearFarScalar(0, 0.3, 1e6, 0.1),
          distanceDisplayCondition: new Cesium.DistanceDisplayCondition(0, 1e6),
          verticalOrigin: Cesium.VerticalOrigin.CENTER,
          heightReference: Cesium.HeightReference.CLAMP_TO_GROUND,
          disableDepthTestDistance : Number.POSITIVE_INFINITY,
        },
      });
      icontest = true;
      //window.alert(icontest);
    }

    // show the altitude on screen
    if (position.coords.altitude == null) {
      document.getElementById("height").innerHTML = "No location data";
    } else {
      var heighttext = position.coords.altitude.toFixed(0) + "m\nLat " + position.coords.latitude.toFixed(5) +
      "\nLon " + position.coords.longitude.toFixed(5);
      document.getElementById("height").innerHTML = heighttext;
    }

    // fly into Map
    viewer.camera.flyTo({
      duration: 0.8,
      destination : Cesium.Cartesian3.fromDegrees(position.coords.longitude, position.coords.latitude, 3000)
    });

  }
  </script>

  <!-- Peaks -->
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/peaks/klevarudnatten2.js"></script>

  <!-- POIs -->
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/poi/trailguide.js"></script>

  <!-- Tracks and Trailheads -->
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/tracks/denravinde.js"></script>
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/tracks/klevarudnatten.js"></script>
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/tracks/stimcgee.js"></script>
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/tracks/tytetrokket.js"></script>
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/tracks/blabaertrokket.js"></script>
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/tracks/paskestien.js"></script>
  <script src="{{ site.url }}{{site.baseurl}}/assets/map/tracks/syningen.js"></script>


  <script>
    // Adjust view to look straight down and top screen border points north
    function alignView() {
      var currentPosition = viewer.camera.positionCartographic;
      viewer.camera.flyTo({
        duration: 0.2,
        destination : Cesium.Cartesian3.fromRadians(currentPosition.longitude, currentPosition.latitude, currentPosition.height),
        orientation: {
          heading: Cesium.Math.toRadians(0),
          pitch: Cesium.Math.toRadians(-90.0), //-1.5707963267948966192313216916398,
          roll: Cesium.Math.toRadians(0),
        },
      });
    }
  </script>

 </div>
</body>
</html>
